<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Artists</h1>
    <p class="lead text-muted">
      Celiac microdosing readymade, kitsch sriracha polaroid raw denim la croix. <br />
      Vexillologist distillery franzen, kickstarter deep v normcore raw denim iPhone. 
    </p>
  </div>
</section>

<div class="container text-center">
    Sort by name:
    <%= link_to('[A-Z]', :order => 'name ASC') %>
    <%= link_to('[Z-A]', :order => 'name DESC') %>
  <br />
    Sort by creation date:
    <%= link_to('[New-Old]', :order => 'created_at ASC') %>
    <%= link_to('[Old-New]', :order => 'created_at DESC') %>
</div>

<div class="container">
  <% @artists.each do |artist| %>
    <div class="card">
      <%= image_tag artist.image %>
      <p class="card-text text-center"><%= link_to artist.name, artist_path(artist.id) %></p>
    </div>
  <% end %>
</div>
