<h1>New Song for <%= @artist.name %></h1>

<%= form_for [@artist, @song] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :length %>
  <%= f.text_field :length %>

  <%= f.submit "Create" %>
<% end %>
