<div class="container text-center">
  <h1>New Song by <%= @artist.name %></h1>

  <br />
  <%= form_for [@artist, @song] do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
  <br />
  <%= link_to "Go back to artist", artist_path(@artist.id), class: "btn btn-default" %>
</div>
