<h1>New Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :length %>
  <%= f.text_field :length %>

  <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, Artist.all, :id, :name) %>

  <%= f.submit "Create" %>
<% end %>
